#calculator
{
  width: 200px;
  height: 380px;
  border-radius: 8px;
  background-color: darkorange;
}
#display
{
  text-align: end;
  margin: 10px;
  border-radius: 8px;
  width: 85%;
  background-color: rgba(47, 79, 79, 0.76);
  font-size: 20px;
  font-weight: 700;
  border: none;
  color: rgb(213, 222, 135);
}
.button-container
{
  width: 93%;
  height: 320px;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.button
{
  width: 45px;
  height: 45px;
  margin: 1px;
  background-color: rgb(47, 206, 255);
  border-radius: 4px;
}